
#vsckb-add-card-modal .modal-footer .btn .fa,
#vsckb-edit-card-modal .modal-footer .btn .fa,
#vsckb-card-details-modal .modal-footer .btn .fa,
#vsckb-card-filter-modal .modal-footer .btn .fa {
    margin-right: 4px;
}

#vsckb-add-card-modal .modal-dialog,
#vsckb-edit-card-modal .modal-dialog,
#vsckb-card-details-modal .modal-dialog {
    max-width: 67% !important;
}

#vsckb-card-details-modal .modal-body .vsckb-body {
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all;
}

#vsckb-card-details-modal .vsckb-badge-list {
    margin-bottom: 16px;
}

#vsckb-card-details-modal .vsckb-badge-list .badge {
    margin-right: 8px;
    padding: 8px;
}

#vsckb-card-details-modal .vsckb-badge-list .vsckb-ref-badge {
    cursor: pointer;
}

body main .row .col .vsckb-card {
    height: 100%;
}

body main .row .col .vsckb-card .card-body {
    height: 100%;
    overflow: auto;
}

.vsckb-kanban-card .vsckb-kanban-card-footer .vsckb-creation-time {
    font-size: 0.75em;
    position: relative;
    left: 8px;
    top: 6px;
}

.vsckb-kanban-card {
    clear: both;
    display: table;
    margin-bottom: 8px;
    width: 100%;
}

.vsckb-kanban-card .vsckb-kanban-card-col {
    display: table-cell;
}

.vsckb-kanban-card .vsckb-kanban-card-type {
    overflow: hidden;
    padding: 0;
    width: 16px;
}

.vsckb-kanban-card .vsckb-kanban-card-type .btn {
    clear: both;
    display: block;
    font-size: 0.75em;
    margin: 0;
    text-align: center;
}

.vsckb-kanban-card .vsckb-kanban-card-info .vsckb-kanban-card-title {
    clear: both;
    display: block;
    padding: 2px 8px;
}

.vsckb-kanban-card .vsckb-kanban-card-info .vsckb-kanban-card-category {
    clear: both;
    display: block;
    font-size: 0.75em;
    font-style: italic;
    padding: 0 8px 2px 8px;
}

.vsckb-kanban-card .vsckb-kanban-card-info .vsckb-kanban-card-progress {
    clear: both;
    display: block;
    height: 10px;
    overflow: hidden;
    padding: 2px 0;
    width: 100%;
}

.vsckb-kanban-card .vsckb-kanban-card-info .vsckb-kanban-card-progress .vsckb-kanban-card-progress-bar {
    height: 6px;
}

.vsckb-kanban-card .vsckb-kanban-card-info .vsckb-kanban-card-body {
    margin-top: 8px;
    min-height: 80px;
    overflow-x: hidden;
    padding: 2px 8px;
    word-wrap: break-word;
}

.vsckb-kanban-card .vsckb-kanban-card-info {
    cursor: pointer;
}

.vsckb-kanban-card .vsckb-kanban-card-footer {
    clear: both;
    display: block;
}

#vsckb-additional-header-btns {
    margin-right: 16px;
}

#vsckb-additional-header-btns .btn {
    margin-left: 4px;
}

.vsckb-list-of-linked-cards {
    margin-top: 8px;
}

.vsckb-list-of-linked-cards .vsckb-ref-badge {
    cursor: pointer;
}

.vsckb-list-of-linked-cards .badge {
    margin-right: 8px;
    padding: 8px;
}

.CodeMirror {
    height: 144px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.vsckb-help-link {
    float: left;
    margin-right: 16px;
}
