
#vsckb-add-card-modal .modal-footer .btn .fa,
#vsckb-edit-card-modal .modal-footer .btn .fa {
    margin-right: 4px;
}

#vsckb-add-card-modal .modal-dialog,
#vsckb-edit-card-modal .modal-dialog {
    max-width: 67% !important;
}

body main .row .col .vsckb-card .vsckb-kanban-card .vsckb-no-description {
    font-style: italic;
}

body main .row .col .vsckb-card .vsckb-kanban-card {
    margin-bottom: 8px;
}

body main .row .col .vsckb-card {
    height: 100%;
}

body main .row .col .vsckb-card .card-body {
    height: 100%;
    overflow: auto;
}

.vsckb-kanban-card .card-header {
    margin-right: 0;
    padding-right: 8px;
}

.vsckb-kanban-card .card-header .vsckb-buttons .btn {
    margin: 0;
}
